html {
    margin: 0;
    padding: 0;
    background-image: url("./img/baggrund.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--white);
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --white: #f4f4f4;
    --red: #C32323;
    --darkred: #6F1314;
}

/* ------------- NAVIGATION AND LOGO -------------- */


nav {
    justify-content: space-between;
    display: inline-block;
    padding: 5px;
    font-size: 25px;
    width: 100%;
}

.logo {
    width: 50px;
    height: auto;
    margin: 20px 0 20px 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
    float: right;
    padding-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    display: inline-block;
    margin: 0 30px 0 100px;
}

nav li a:hover {
    color: var(--darkred);
    transition: 0.3s;
}

nav li a:active {
    color: var(--darkred);
}

.active {
    border-bottom: solid 2px;
}


/* ------------- REPEATING STYLES -------------- */


.italic {
    font-style: italic;
}

.link {
    text-decoration: none;
    color: var(--red);
}

.link:hover {
    color: var(--darkred);
    transition: 0.5s;
}

.bebasNeue {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
}

.redHeader {
    margin: 0;
    padding: 0;
    color: var(--red);
    font-size: 20px;
    font-weight: normal;
}

.header {
    margin: 0;
    padding: 0 0 15px 0;   
    font-size: 50px;
    color: var(--red);
    text-decoration: none;
    font-weight: normal;
    width: 500px;
}

.arrowBack {
    margin: 0 0 0 75%;
    padding: 0;
    text-decoration: none;
    color: var(--white);
    width: 70px;
    font-style: italic;
}

.arrowBack img {
    width: 50px;
}

.arrowBack p {
    margin: 0 5px;
}

.arrowBack:hover {
    opacity: 50%;
    transition: 0.5s;
}

.casesUse {
    color: var(--red);
    font-style: italic;
}

.tabs {
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    border: solid 2px var(--darkred);
    border-radius: 10px;
    height: 60px;
    width: 100%;
}

.tab button.active {
    background-color: #282828;
    border-radius: 5px;
}

.tabs button {
    background-color: #181818;
    color: var(--red);
    border: none;
    font-size: 20px;
}

.tabHover:hover {
    color: var(--darkred);
    transition: 0.5s;
}

.p1 {
    margin: 15px 0;
    padding: 0;
    width: 380px;
    float: left;
}

.p2 {
    margin: 15px 0 35px;
    padding: 0;
    width: 380px;
    float: right;
}

.content {
    display: none;
}

.tab {
    cursor: pointer;
}

.tab1 {
    width: 800px;
}

.tab2 {
    width: 800px;
}

.tab3 {
    width: 800px;
}
/* ------------- HOME -------------- */

.frontpageImg {
    width: 220px;
    display: inline-block;
}

.containerIndex {
    margin: 0;
    padding-right: 0;
    font-size: 16px;
    width: 400px;
}

.headerHome {
    margin: 0;
    padding-top: 10px;
    font-size: 65px;
    font-weight: normal;
}

.meFrontpage {
    width: 120px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 25px;
}

.frontpageImg {grid-area: frontpageImg;}
.headerHome {grid-area: headerHome;}
.containerIndex {grid-area: containerIndex;}
.meFrontpage {grid-area: meFrontpage;}

.frontGrid {
    margin: 80px 0 0 80px;
    padding: 0;
    display: grid;
    position: relative;
    min-height: 70vh;
    grid-template-columns: 1fr 230px 190px 200px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    ". frontpageImg headerHome headerHome ."
    ". frontpageImg containerIndex meFrontpage .";
}


/* ------------- WHO AM I? -------------- */

.whoAmIHeader {
    margin: 60px 120px;
    padding: 0;
    font-size: 50px;
    font-weight: normal;
    color: var(--red);
}

.aboutMeTxt {
    margin: 50px 0 0 120px;
    padding: 0;
    width: 420px;
    line-height: 150%;
}

.aboutMeTxt p {
    margin: 10px 0;
}

.me {
    margin: 65px 120px 0 0;
    width: 70%;
    border-radius: 5px;
}


.userAnalysis {
    margin: 0 0 0 120px;
    padding: 0;
}

.userAnalysis img {
    margin: 0 0 0 45px;
    padding: 0;
    width: 34%;
}

.userAnalysis h3 {
    margin: 10px 0 0 35px;
}

.userAnalysis p {
    margin: 10px 0 0 0;
    padding: 0;
    width: 200px;
}

.projectManagement {
    margin: 0 0 0 28%;
    padding: 0;
}

.projectManagement img {
    margin: 0 0 0 45px;
    padding: 0;
    width: 28%;
}

.projectManagement h3 {
    margin: 10px 0 0 10px;
}

.projectManagement p {
    margin: 10px 0 0 0;
    padding: 0;
    width: 200px;
}

.UXUIDesign {
    margin: 0 0 0 10%;
    padding: 0;
}

.UXUIDesign img {
    margin: 0 0 0 45px;
    padding: 0;
    width: 22%;
}

.UXUIDesign h3 {
    margin: 10px 0 0 35px;
}

.UXUIDesign p {
    margin: 10px 0 0 0;
    padding: 0;
    width: 200px;
}

.sendEmail {
    margin: auto;
    padding: 0;
}

.sendEmail p {
    margin-bottom: 40px;
}

.emailButton {
    margin-left: 50px;
    padding: 15px 25px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    border: black solid 1px;
    background-color: var(--red);
    box-shadow: 2px 4px 6px #000000;
    width: 140px;
    height: 50px;
}

.emailButton:hover {
    background-color: var(--darkred);
    transition: 0.5s;
}

.whoAmIHeader {grid-area: whoAmIHeader;}
.aboutMeTxt {grid-area: aboutMeTxt;}
.me {grid-area: me;}
.me2 {grid-area: me2;}
.userAnalysis {grid-area: userAnalysis;}
.projectManagement {grid-area: projectManagement;}
.UXUIDesign {grid-area: UXUIDesign;}
.sendEmail {grid-area: sendEmail;}


.whoAmIGrid {
    padding: 20px 0 100px 0;
    display: grid;
    grid-template-columns:1fr 25% 25% 25% 1fr;
    grid-template-rows: 80px 420px 420px 350px;
    grid-template-areas: 
    ". whoAmIHeader whoAmIHeader . ."
    ". aboutMeTxt aboutMeTxt me ."
    ". aboutMeTxt aboutMeTxt me2 ."
    ". userAnalysis projectManagement UXUIDesign ."
    ". . sendEmail . .";
}


/* ------------- CASES -------------- */

.introCases h1 {
    margin: 0;
    padding: 0;
}

.introCases p {
    max-width: 400px;
}

.NKCase {
    margin: 0;
    padding: 0;
}

.caseBox {
    margin: 0 0 30px 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border: 2px var(--darkred) solid;
    border-radius: 5px;
    color: var(--white);
    text-decoration: none;
}

.caseBox h2 {
    margin: 0;
    padding: 0;
    font-size: 26px;
}

.caseBox:hover {
    background-color: #272727;
    transition: 0.5s;
}

.caseTxtBox {
    margin: 0;
    padding: 0;
    max-width: 450px;
}

.casesTxt {
    margin: 20px 20px 0 0;
    padding: 0;
    max-width: 400px;
}

.caseImgs {
    margin: auto;
    width: 250px;
    height: 180px;
}

.otherProjects p {
    max-width: 400px;
}

.photographyImg {
    width: 25%;
    margin: auto;
}

.introCases {grid-area: intro;}
.NKCase {grid-area: NKCase;}
.englerodCase {grid-area: englerodCase;}
.svalegaardenMestCase {grid-area: svalegaardenMestCase;}
.julIZooCase {grid-area: julIZooCase;}
.otherProjects {grid-area: otherProjects;}
.birthdayCard {grid-area: birthdayCard;}
.photography {grid-area: photography;}


.casesGrid {
    padding: 80px 0;
    display: grid;
    grid-template-columns:1fr 60% 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr 200px 1fr 1fr;
    grid-template-areas: 
    ". intro ."
    ". NKCase ."
    ". englerodCase ."
    ". svalegaardenMestCase ."
    ". julIZooCase ."
    ". otherProjects ."
    ". birthdayCard ."
    ". photography .";
}

/* ------------- JUL I ZOO -------------- */

.introJulIZoo {
    margin: 0;
    padding: 0;
    width: 380px;
}


.arrowBack {grid-area: arrowBack;}
.introJulIZoo {grid-area: introJulIZoo;}
.tabs {grid-area: tabs;}
.tab1 {grid-area: openTab;}
.tab2 {grid-area: openTab;}
.tab3 {grid-area: openTab;}


.julIZooGrid {
    padding: 80px 0;
    min-height: 70vh;
    display: grid;
    grid-template-columns:1fr 800px 1fr;
    grid-template-rows: 280px 110px 1fr;
    grid-template-areas: 
    "arrowBack introJulIZoo ."
    ". tabs ."
    ". openTab .";
}

.imgTab1JulIZoo {
    width: 100%;
}


.imgTab2JulIZoo {
    width: 100%;
}

.prototype1JulIZoo {
    width: 48%;
    float: left;
}

.prototype2JulIZoo {
    width: 48%;
    float: right;
}



/* ------------- SVALEGAARDEN MEST -------------- */


.introSM {
    margin: 0;
    padding: 0;
    width: 380px;
}

.arrowBack {grid-area: arrowBack;}
.introSM {grid-area: introSM;}
.tabs {grid-area: tabs;}
.tab1 {grid-area: openTab;}
.tab2 {grid-area: openTab;}
.tab3 {grid-area: openTab;}


.SMGrid {
    padding: 80px 0;
    min-height: 70vh;
    display: grid;
    grid-template-columns:1fr 800px 1fr;
    grid-template-rows: 280px 100px 1fr;
    grid-template-areas: 
    "arrowBack introSM ."
    ". tabs ."
    ". openTab .";
}

.SMTab1Img {
    margin: 15px 0;
    width: 100%;
}

.SMTab2Img {
    width: 100%;
    margin: 15px 0;
}



/* ------------- ENGLEROD -------------- */

.introEnglerod {
    margin: 0;
    padding: 0;
    width: 380px;
}


.arrowBack {grid-area: arrowBack;}
.introEnglerod {grid-area: introEnglerod;}
.tabs {grid-area: tabs;}
.tab1 {grid-area: openTab;}
.tab2 {grid-area: openTab;}
.tab3 {grid-area: openTab;}


.englerodGrid {
    padding: 80px 0;
    min-height: 70vh;
    display: grid;
    grid-template-columns:1fr 800px 1fr;
    grid-template-rows: 350px 100px 1fr;
    grid-template-areas: 
    "arrowBack introEnglerod ."
    ". tabs ."
    ". openTab .";
}

.englerodImgtab2 {
    width: 50%;
    float: right;
}


/* ------------- NORDSJAELLANDS KATTEHJAELP -------------- */

.introNK {
    margin: 0;
    padding: 0;
    width: 380px;
}

.arrowBack {grid-area: arrowBack;}
.NKGrid {grid-area: NKGrid;}
.tabs {grid-area: tabs;}
.tab1 {grid-area: openTab;}
.tab2 {grid-area: openTab;}
.tab3 {grid-area: openTab;}
.NK_images {grid-area: images;}


.NKGrid {
    padding: 80px 0;
    min-height: 70vh;
    display: grid;
    grid-template-columns:1fr 800px 1fr;
    grid-template-rows: 450px 100px 300px 1100px;
    grid-template-areas: 
    "arrowBack NKGrid ."
    ". tabs ."
    ". openTab ."
    ". images .";
}

.NK_before {
    float: left;
    width: 55%;
}

.NK_images {
    color: var(--red);
}

.NK_img1 {
    width: 45%;
    float: left;
    margin: 10px 0 50px 0;
}

.NK_img2 {
    width: 45%;
    float: right;
    margin: 10px 0 30px 0;
}

.NK_img3 {
    width: 45%;
    float: left;
}

.NK_img4 {
    width: 45%;
    float: right;
}

/* ------------- FOOTER -------------- */

footer {
    margin-left: 10px;
    padding: 5px;
    display: inline-block;
    width: 100%;
    height: 60px;
    background-color: #181818;
}

h5 {
    margin: 20px 0 0 20px;
    padding: 0;
    color: var(--white);
    font-weight: normal;
    font-size: 16px;
    display: inline-block;
}

.social {
    margin-right: 40px;
    width: 35px;
    height: auto;
    float: right;
}

.social:hover {
    opacity: 40%;
    transition: 0.5s;
}

/* ------------- Birthday card -------------- */

    .introBirthday {
        margin: 0;
        padding: 0;
        max-width: 400px;
    }

    .arrowBack {grid-area: arrowBack;}
    .introBirthday {grid-area: introBirthday;}
    .birthdayCardImg {grid-area: image;}
    
    .birthdayGrid {
        padding: 80px 0;
        min-height: 70vh;
        display: grid;
        grid-template-columns:1fr 50% 1fr;
        grid-template-rows: 250px 1fr;
        grid-template-areas: 
        "arrowBack introBirthday ."
        ". image .";
    }

    .birthdayCardImg {
        width: 100%;
    }


/* ----------- Photography ---------------*/

.photoIntro {
    margin: 0;
    padding: 0;
    max-width: 400px;
}

.arrowBack {grid-area: arrowBack;}
.photoIntro {grid-area: photoIntro;}
.img1 {grid-area: img1;}
.img2 {grid-area: img2;}
.img3 {grid-area: img3;}
.img4 {grid-area: img4;}


.photoGrid {
    padding: 80px 0;
    min-height: 70vh;
    display: grid;
    grid-template-columns:1fr 25% 25% 1fr;
    grid-template-rows: 250px 1fr 1fr;
    row-gap: 20px;
    grid-template-areas: 
    "arrowBack photoIntro photoIntro ."
    ". img1 img2 ."
    ". img3 img4 .";
}

.photo {
    width: 90%;
}

.birthdayCardImg {
    width: 100%;
}


/* ------------- Media queries -------------- */

@media screen and (max-width: 1100px) {
    body {
        background-color: #181818;
        background-image: none;
    }

    nav {
        font-size: 22px;
    }
    
    .logo {
        width: 50px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: var(--white);
        display: inline-block;
        margin: 0 30px 0 70px;
    }

    /*------------ FRONTPAGE ------------*/

    .frontpageImg {
        width: 250px;
    }

    .headerHome {
        font-size: 40px;
    }

    .containerIndex h1 {
        font-size: 22px;
    }

    .containerIndex h3 {
        font-size: 18px;
    }

    .containerIndex p {
        font-size: 16px;
        width: 220px;
    }

    .frontGrid {
        margin: 150px 0 0 50px;
        padding: 0;
        display: grid;
        position: relative;
        min-height: 70vh;
        grid-template-columns: 1fr 260px 350px 1fr;
        grid-template-rows: 70px 1fr;
        grid-template-areas: 
        ". frontpageImg headerHome ."
        ". frontpageImg containerIndex .";
    }

    /*------------ WHO AM I? ------------*/

        .whoAmIGrid {
        padding: 20px 0 100px 0;
        display: grid;
        grid-template-columns: 1fr 45% 45% 45% 1fr;
        grid-template-rows: 100px 400px 800px;
        grid-template-areas: 
        ". whoAmIHeader whoAmIHeader . ."
        ". aboutMeTxt aboutMeTxt me ."
        ". aboutMeTxt aboutMeTxt me2 ."
        ". . sendEmail . .";
    }

    .whoAmIHeader {
        font-size: 40px;
    }
    
    .aboutMeTxt {
        width: 60%;
        line-height: 150%;
    }
    
    .aboutMeTxt p {
        margin: 10px 0;
    }
    
    .me {
        width: 60%;
    }
    
    .me2 {
        width: 60%;
    }
    
    .userAnalysis {
        display: none;
    }

    
    .projectManagement {
        display: none;
    }

    
    .UXUIDesign {
        display: none;
    }

    .sendEmail a {
        font-size: 16px;
    }

    .emailButton {
        padding: 5px 10px;
    }

    /*------------ CASES ------------*/

    

    /*------------ INDIVIDUAL CASES ------------*/

    .arrowBack {
        margin: 0 0 0 20%;
        width: 30px;
    }
    
    .arrowBack img {
        width: 25px;
    }
    
    .arrowBack p {
        display: none;
    }
    
    .tabs {
        width: 70%;
    }
    
    .tabs button {
        font-size: 18px;
    }

    .p1 {
        width: 48%;
    }
    
    .p2 {
        width: 48%;
    }

    .tab1 {
        width: 500px;
    }
    
    .tab2 {
        width: 500px;
    }
    
    .tab3 {
        width: 500px;
    }

    .introNK {
        margin: 0;
        padding: 0;
        width: 380px;
    }
    
    .arrowBack {grid-area: arrowBack;}
    .NKGrid {grid-area: NKGrid;}
    .tabs {grid-area: tabs;}
    .tab1 {grid-area: openTab;}
    .tab2 {grid-area: openTab;}
    .tab3 {grid-area: openTab;}
    .NK_images {grid-area: images;}
    
    
    .NKGrid {
        padding: 80px 0;
        min-height: 70vh;
        display: grid;
        grid-template-columns:1fr 500px 1fr;
        grid-template-rows: 450px 100px 400px 400px;
        grid-template-areas: 
        "arrowBack NKGrid ."
        ". tabs ."
        ". openTab ."
        ". images .";
    }
    
    .NK_before {
        float: left;
        width: 55%;
    }
    
    .NK_images {
        color: var(--red);
    }
    
    .NK_img1 {
        width: 46%;
        float: left;
        margin: 10px 0 50px 0;
    }
    
    .NK_img2 {
        width: 45%;
        float: right;
        margin: 10px 0 30px 0;
    }
    
    .NK_img3 {
        display: none;
    }
    
    .NK_img4 {
        display: none;
    }


}



@media screen and (max-width: 650px) {
    
    body {
        background-color: #181818;
        background-image: none;
    }

    nav {
        font-size: 18px;
    }
    
    .logo {
        width: 40px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: var(--white);
        display: inline-block;
        margin: 10px 10px 0 20px;
    }

    footer {
        margin-left: 0;
        height: 40px;
    }
    
    h5 {
        margin: 10px 0 0 10px;
    }

    footer h5 {
        display: none;
    }

    
    .social {
        margin-right: 15px;
        width: 30px;
    }

    /*------------ FRONTPAGE PHONE ------------*/

    .frontpageImg {
        display: none;
    }

    .headerHome {
        display: none;
    }

    .containerIndex h1 {
        font-size: 40px;
        color: var(--red);
        font-family: 'Bebas Neue', cursive;
    }

    .containerIndex h3 {
        font-size: 20px;
    }

    .containerIndex p {
        font-size: 16px;
        width: 200px;
    }

    .meFrontpage {
        width: 50%;
        margin-left: 0;
    }

    .frontGrid {
        margin: 5% 10% 0 10%;
        padding: 0;
        display: grid;
        position: relative;
        min-height: 70vh;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
        grid-template-areas: 
        "containerIndex"
        "meFrontpage";
    }

    /*------------ WHO AM I? PHONE ------------*/

        .whoAmIGrid {
        padding: 0 0 10px 0;
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 80px 1100px 450px 350px 350px 350px 140px;
        grid-template-areas:
        "whoAmIHeader"
        "aboutMeTxt"
        "me"
        "userAnalysis"
        "projectManagement"
        "UXUIDesign"
        "sendEmail";
    }

    .whoAmIHeader {
        font-size: 50px;
        margin: 60px;
    }
    
    .aboutMeTxt {
        width: 90%;
        line-height: 150%;
        margin: 60px;
    }
    
    .aboutMeTxt p {
        margin: 10px 0;
        font-size: 16px;
    }
    
    .me {
        width: 80%;
        margin-left: 60px;
    }
    
    .userAnalysis {
        display: block;
        margin-left: 120px;
    }

    .userAnalysis img {
        width: 100px;
    }

    
    .projectManagement {
        display: block;
        margin-left: 120px;
    }

    .projectManagement img {
        width: 100px;
    }

    
    .UXUIDesign {
        display: block;
        margin-left: 120px;
    }

    .UXUIDesign img {
        width: 100px;
    }

    .sendEmail {
        margin: 0;
        padding: 0;
    }
    
    .sendEmail p {
        margin-left: 80px;
        margin-bottom: 40px;
    }

    .emailButton {
        margin-left: 160px;
    }


    /*------------ CASES PHONE ------------*/

    .introCases h1 {
        margin: 0;
        padding: 0;
    }
    
    
    .caseBox {
        margin: 0 0 30px 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border: 2px var(--darkred) solid;
        border-radius: 5px;
        color: var(--white);
        text-decoration: none;
    }

    
    .caseImgs {
        margin: auto;
        width: 200px;
        height: 150px;
    }

    
    .photographyImg {
        width: 60%;
        margin: auto;
    }
    
    .casesGrid {
        margin-left: 10%;
        padding: 80px 0;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 200px 1fr 1fr 1fr 1fr 200px 1fr 1fr;
        grid-template-areas: 
        "intro"
        "NKCase"
        "englerodCase"
        "svalegaardenMestCase"
        "julIZooCase"
        "otherProjects"
        "birthdayCard"
        "photography";
    }

    /*------------ INDIVIDUAL CASES PHONE ------------*/

    .arrowBack {
        margin: 0 0 0 10px;
        width: 30px;
    }
    
    .arrowBack img {
        width: 40px;
    }
    
    .arrowBack p {
        display: block;
        width: 50px;
    }
    
    .tabs {
        margin-left: 60px;
        width: 38%;
    }
    
    .tabs button {
        font-size: 16px;
    }

    .p1 {
        width: 90%;
    }
    
    .p2 {
        float: left;
        width: 90%;
    }

    .tab1 {
        margin-left: 60px;
        width: 300px;
    }
    
    .tab2 {
        margin-left: 60px;
        width: 300px;
    }
    
    .tab3 {
        margin-left: 60px;
        width: 300px;
    }

    .introJulIZoo {
        margin-left: 60px;
        padding: 0;
        width: 300px;
    }

    .introJulIZoo h1 {
        margin: 0;
    }
    
    
    .arrowBack {grid-area: arrowBack;}
    .introJulIZoo {grid-area: introJulIZoo;}
    .tabs {grid-area: tabs;}
    .tab1 {grid-area: openTab;}
    .tab2 {grid-area: openTab;}
    .tab3 {grid-area: openTab;}
    
    
    .julIZooGrid {
        padding: 20px 0;
        display: grid;
        grid-template-columns: 20px 750px 1fr;
        grid-template-rows: 280px 110px 900px;
        grid-template-areas: 
        "arrowBack introJulIZoo ." 
        ". tabs ."
        ". openTab .";
    }
    
    .introSM {
        margin-left: 60px;
        width: 300px;
    }

    .introSM h1 {
        margin: 0;
    }

    .SMGrid {
        padding: 20px 0;
        display: grid;
        grid-template-columns: 20px 750px 1fr;
        grid-template-rows: 400px 110px 1fr;
        grid-template-areas: 
        "arrowBack introSM ."
        ". tabs ."
        ". openTab .";
    }

    .introEnglerod {
        margin-left: 60px;
        width: 300px;
    }

    .introEnglerod h1 {
        margin: 0;
    }

    .englerodGrid {
        padding: 80px 0;
        display: grid;
        grid-template-columns: 20px 750px 1fr;
        grid-template-rows: 420px 110px 1fr;
        grid-template-areas: 
        "arrowBack introEnglerod ."
        ". tabs ."
        ". openTab .";
    }

    .englerodImgtab2 {
        width: 100%;
        float: left;
    }

    .introNK {
        margin-left: 60px;
        padding: 0;
        width: 300px;
    }

    .introNK h1 {
        margin: 0;
    }

    .NKGrid {
        padding: 80px 0;
        display: grid;
        grid-template-columns: 20px 750px 1fr;
        grid-template-rows: 500px 110px 1fr;
        grid-template-areas: 
        "arrowBack NKGrid ."
        ". tabs ."
        ". openTab ."
        ". images .";
    }
    
    .NK_img1 {
        width: 55%;
        float: left;
        margin: 10px 0 50px 0;
    }

    .NK_img2 {
        width: 55%;
        float: left;
        margin: 10px 0 30px 0;
    }

    .NK_before {
        display: none;
    }

    .NK_After {
        display: none;
    }
}