html {
    margin: 0;
    padding: 0;
    background-image: url("./img/baggrund.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--white);
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --white: #f4f4f4;
    --red: #C32323;
    --darkred: #6F1314;
}

/* ------------- NAVIGATION AND LOGO -------------- */


nav {
    justify-content: space-between;
    display: inline-block;
    padding: 5px;
    font-size: 28px;
    width: 100%;
}

.logo {
    width: 60px;
    height: auto;
    margin: 20px 0 20px 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
    float: right;
    padding-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    display: inline-block;
    margin: 0 30px 0 100px;
}

nav li a:hover {
    color: var(--darkred);
}

nav li a:active {
    color: var(--darkred);
}

.active {
    border-bottom: solid 2px;
}


/* ------------- REPEATING STYLES -------------- */


.italic {
    font-style: italic;
}

.link {
    text-decoration: none;
    color: var(--red);
}

.link:hover {
    color: var(--darkred);
}

.bebasNeue {
    font-family: 'Bebas Neue', cursive;
}

.redHeader {
    margin: 0;
    padding: 0;
    color: var(--red);
    font-size: 20px;
    font-weight: normal;
}

.header {
    margin: 0;
    padding: 0 0 15px 0;   
    font-size: 50px;
    color: var(--red);
    text-decoration: none;
    font-weight: normal;
    width: 500px;
}

.arrowBack {
    margin: 0 0 0 75%;
    padding: 0;
    text-decoration: none;
    color: var(--white);
    width: 70px;
    font-style: italic;
}

.arrowBack img {
    width: 50px;
}

.arrowBack p {
    margin: 0 5px;
}

.arrowBack:hover {
    opacity: 50%;
}

.casesUse {
    color: var(--red);
    font-style: italic;
}

.tabs {
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    border: solid 2px var(--darkred);
    border-radius: 10px;
    height: 60px;
    width: 100%;
}

.tab button.active {
    background-color: #282828;
    border-radius: 5px;
}

.tabs button {
    background-color: #181818;
    color: var(--red);
    border: none;
    font-size: 20px;
}

.tabHover:hover {
    color: var(--darkred);
}

.p1 {
    margin: 15px 0;
    padding: 0;
    width: 380px;
    float: left;
}

.p2 {
    margin: 15px 0 35px;
    padding: 0;
    width: 380px;
    float: right;
}

.content {
    display: none;
}

.tab {
    cursor: pointer;
}

.tab1 {
    width: 800px;
}

.tab2 {
    width: 800px;
}

.tab3 {
    width: 800px;
}
/* ------------- HOME -------------- */

.frontpageImg {
    width: 360px;
    display: inline-block;
}

.containerIndex {
    margin: 0;
    padding-right: 0;
    font-size: 22px;
    width: 400px;
}

.headerHome {
    margin: 0;
    padding-top: 15px;
    font-size: 70px;
    font-weight: normal;
}

.frontpageImg {grid-area: frontpageImg;}
.headerHome {grid-area: headerHome;}
.containerIndex {grid-area: containerIndex;}

.frontGrid {
    margin: 80px 0 0 80px;
    padding: 0;
    display: grid;
    position: relative;
    min-height: 70vh;
    grid-template-columns: 1fr 380px 500px 1fr;
    grid-template-rows: 120px 1fr;
    grid-template-areas: 
    ". frontpageImg headerHome ."
    ". frontpageImg containerIndex .";
}


/* ------------- WHO AM I? -------------- */

.whoAmIHeader {
    margin: 60px 120px;
    padding: 0;
    font-size: 50px;
    font-weight: normal;
    color: var(--red);
}

.aboutMeTxt {
    margin: 50px 0 0 120px;
    padding: 0;
    width: 500px;
    line-height: 150%;
}

.aboutMeTxt p {
    margin: 10px 0;
}

.me {
    margin: 65px 120px 0 0;
    width: 75%;
    border-radius: 5px;
}

.me2 {
    margin: 10px 120px 0 0;
    width: 75%;
    border-radius: 5px;
}

.userAnalysis {
    margin: 0 0 0 120px;
    padding: 0;
}

.userAnalysis img {
    margin: 0 0 0 45px;
    padding: 0;
    width: 36%;
}

.userAnalysis h3 {
    margin: 10px 0 0 35px;
}

.userAnalysis p {
    margin: 10px 0 0 0;
    padding: 0;
    width: 220px;
}

.projectManagement {
    margin: 0 0 0 28%;
    padding: 0;
}

.projectManagement img {
    margin: 0 0 0 45px;
    padding: 0;
    width: 31%;
}

.projectManagement h3 {
    margin: 10px 0 0 10px;
}

.projectManagement p {
    margin: 10px 0 0 0;
    padding: 0;
    width: 220px;
}

.UXUIDesign {
    margin: 0 0 0 10%;
    padding: 0;
}

.UXUIDesign img {
    margin: 0 0 0 45px;
    padding: 0;
    width: 28%;
}

.UXUIDesign h3 {
    margin: 10px 0 0 35px;
}

.UXUIDesign p {
    margin: 10px 0 0 0;
    padding: 0;
    width: 220px;
}

.sendEmail {
    margin: auto;
    padding: 0;
}

.sendEmail p {
    margin-bottom: 40px;
}

.emailButton {
    margin-left: 50px;
    padding: 15px 25px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    border: black solid 1px;
    background-color: var(--red);
    box-shadow: 2px 4px 6px #000000;
    width: 140px;
    height: 50px;
}

.emailButton:hover {
    background-color: var(--darkred);
}

.whoAmIHeader {grid-area: whoAmIHeader;}
.aboutMeTxt {grid-area: aboutMeTxt;}
.me {grid-area: me;}
.me2 {grid-area: me2;}
.userAnalysis {grid-area: userAnalysis;}
.projectManagement {grid-area: projectManagement;}
.UXUIDesign {grid-area: UXUIDesign;}
.sendEmail {grid-area: sendEmail;}


.whoAmIGrid {
    padding: 20px 0 100px 0;
    display: grid;
    grid-template-columns:1fr 380px 380px 380px 1fr;
    grid-template-rows: 80px 420px 420px 350px;
    grid-template-areas: 
    ". whoAmIHeader whoAmIHeader . ."
    ". aboutMeTxt aboutMeTxt me ."
    ". aboutMeTxt aboutMeTxt me2 ."
    ". userAnalysis projectManagement UXUIDesign ."
    ". . sendEmail . .";
}


/* ------------- CASES -------------- */

.casesHeader {
    margin: 0 0 0 120px;
}

.pCases {
    margin-left: 120px;
    width: 500px;
    line-height: 150%;
    font-size: 18px;
}

.NKCase {
    margin: 0 0 0 120px;
    padding: 0;
}

.NKCaseImg {
    width: 80%;    
    border-radius: 5px;
}

.NKCaseImg:hover {
    opacity: 50%;
}

.NKCase h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: normal;
    width: 90%;
}

.NKCase p {
    margin: 5px 0;
    width: 50%;
    font-style: italic;
}

.englerodCase {
    margin: 0 120px 0 0; 
    padding: 0;
}

.englerodCaseImg {
    width: 80%;    
    border-radius: 5px;
}

.englerodCaseImg:hover {
    opacity: 50%;
}

.englerodCase h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: normal;
    width: 50%;
}

.englerodCase p {
    margin: 5px 0;
    width: 50%;
    font-style: italic;
}

.svalegaardenMestCase {
    margin: 0 0 0 120px;    
    padding: 0;
}

.svalegaardenMestCaseImg {
    width: 80%;    
    border-radius: 5px;
}

.svalegaardenMestCaseImg:hover {
    opacity: 50%;
}

.svalegaardenMestCase h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: normal;
    width: 50%;
}

.svalegaardenMestCase p {
    margin: 5px 0;
    width: 50%;
    font-style: italic;
}

.julIZooCase {
    margin: 0 120px 0 0;     
    padding: 0;
}

.julIZooCaseImg {
    width: 80%;    
    border-radius: 5px;
}

.julIZooCaseImg:hover {
    opacity: 50%;
}

.julIZooCase h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: normal;
    width: 50%;
}

.julIZooCase p {
    margin: 5px 0;
    width: 50%;
    font-style: italic;
}

.introCases {grid-area: introCases;}
.NKCase {grid-area: NKCase;}
.englerodCase {grid-area: englerodCase;}
.svalegaardenMestCase {grid-area: svalegaardenMestCase;}
.julIZooCase {grid-area: julIZooCase;}


.casesGrid {
    padding: 80px 0;
    display: grid;
    grid-template-columns:1fr 550px 550px 1fr;
    grid-template-rows: 260px 300px 280px;
    grid-template-areas: 
    ". introCases introCases ."
    ". NKCase englerodCase ."
    ". svalegaardenMestCase julIZooCase .";
}

/* ------------- JUL I ZOO -------------- */

.introJulIZoo {
    margin: 0;
    padding: 0;
    width: 380px;
}


.arrowBack {grid-area: arrowBack;}
.introJulIZoo {grid-area: introJulIZoo;}
.tabs {grid-area: tabs;}
.tab1 {grid-area: openTab;}
.tab2 {grid-area: openTab;}
.tab3 {grid-area: openTab;}


.julIZooGrid {
    padding: 80px 0;
    min-height: 70vh;
    display: grid;
    grid-template-columns:1fr 800px 1fr;
    grid-template-rows: 280px 110px 1fr;
    grid-template-areas: 
    "arrowBack introJulIZoo ."
    ". tabs ."
    ". openTab .";
}

.imgTab1JulIZoo {
    width: 100%;
}


.imgTab2JulIZoo {
    width: 100%;
}

.prototype1JulIZoo {
    width: 48%;
    float: left;
}

.prototype2JulIZoo {
    width: 48%;
    float: right;
}



/* ------------- SVALEGAARDEN MEST -------------- */


.introSM {
    margin: 0;
    padding: 0;
    width: 380px;
}

.arrowBack {grid-area: arrowBack;}
.introSM {grid-area: introSM;}
.tabs {grid-area: tabs;}
.tab1 {grid-area: openTab;}
.tab2 {grid-area: openTab;}
.tab3 {grid-area: openTab;}


.SMGrid {
    padding: 80px 0;
    min-height: 70vh;
    display: grid;
    grid-template-columns:1fr 800px 1fr;
    grid-template-rows: 280px 100px 1fr;
    grid-template-areas: 
    "arrowBack introSM ."
    ". tabs ."
    ". openTab .";
}

.SMTab1Img {
    margin: 15px 0;
    width: 100%;
}

.SMTab2Img {
    width: 100%;
    margin: 15px 0;
}



/* ------------- ENGLEROD -------------- */

.introEnglerod {
    margin: 0;
    padding: 0;
    width: 380px;
}


.arrowBack {grid-area: arrowBack;}
.introEnglerod {grid-area: introEnglerod;}
.tabs {grid-area: tabs;}
.tab1 {grid-area: openTab;}
.tab2 {grid-area: openTab;}
.tab3 {grid-area: openTab;}


.englerodGrid {
    padding: 80px 0;
    min-height: 70vh;
    display: grid;
    grid-template-columns:1fr 800px 1fr;
    grid-template-rows: 350px 100px 1fr;
    grid-template-areas: 
    "arrowBack introEnglerod ."
    ". tabs ."
    ". openTab .";
}

.englerodImgtab2 {
    width: 50%;
    float: right;
}


/* ------------- NORDSJAELLANDS KATTEHJAELP -------------- */

.introNK {
    margin: 0;
    padding: 0;
    width: 380px;
}

.arrowBack {grid-area: arrowBack;}
.NKGrid {grid-area: NKGrid;}
.tabs {grid-area: tabs;}
.tab1 {grid-area: openTab;}
.tab2 {grid-area: openTab;}
.tab3 {grid-area: openTab;}
.NK_images {grid-area: images;}


.NKGrid {
    padding: 80px 0;
    min-height: 70vh;
    display: grid;
    grid-template-columns:1fr 800px 1fr;
    grid-template-rows: 450px 100px 300px 1100px;
    grid-template-areas: 
    "arrowBack NKGrid ."
    ". tabs ."
    ". openTab ."
    ". images .";
}

.NK_before {
    float: left;
    width: 55%;
}

.NK_images {
    color: var(--red);
}

.NK_img1 {
    width: 45%;
    float: left;
    margin: 10px 0 50px 0;
}

.NK_img2 {
    width: 45%;
    float: right;
    margin: 10px 0 30px 0;
}

.NK_img3 {
    width: 45%;
    float: left;
}

.NK_img4 {
    width: 45%;
    float: right;
}

/* ------------- FOOTER -------------- */

footer {
    margin-left: 10px;
    padding: 0;
    display: inline-block;
    width: 100%;
    height: 60px;
}

h5 {
    margin: 20px 0 0 20px;
    padding: 0;
    color: var(--white);
    font-weight: normal;
    font-size: 16px;
    display: inline-block;
}

.social {
    margin-right: 40px;
    width: 35px;
    height: auto;
    float: right;
}

.social:hover {
    opacity: 40%;
}


/* ------------- Media queries -------------- */

@media screen and (max-width: 1300px) {
    body {
        background-color: #181818;
        background-image: none;
    }

    nav {
        font-size: 22px;
    }
    
    .logo {
        width: 50px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: var(--white);
        display: inline-block;
        margin: 0 30px 0 70px;
    }

    /*------------ FRONTPAGE ------------*/

    .frontpageImg {
        width: 250px;
    }

    .headerHome {
        font-size: 40px;
    }

    .containerIndex h1 {
        font-size: 22px;
    }

    .containerIndex h3 {
        font-size: 18px;
    }

    .containerIndex p {
        font-size: 16px;
        width: 220px;
    }

    .frontGrid {
        margin: 150px 0 0 50px;
        padding: 0;
        display: grid;
        position: relative;
        min-height: 70vh;
        grid-template-columns: 1fr 260px 350px 1fr;
        grid-template-rows: 70px 1fr;
        grid-template-areas: 
        ". frontpageImg headerHome ."
        ". frontpageImg containerIndex .";
    }

    /*------------ WHO AM I? ------------*/

    



}



@media screen and (max-width: 600px) {
    body {
        background-color: red;
        background-image: none;
    }


}